
.input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    caret-color: transparent;
    cursor: pointer;


}

.editMode {
    background: #eeeeee;
}
