.textareaGeneral{
    font: inherit;
    color: inherit;
    border: none;
    margin: 10px 0;
    width: 80%;
    text-align: center;
}
.textarea {
    background-color: inherit;
    padding: 0;
    display: inline-block;
    cursor: pointer;

}

.editMode {
    padding: 10px;
    background: #eeeeee;

}
